<html><head><title>Generate Chits</title></head><body>
        <h1> Generate Chits </h1>
        <hr>
         <form action="genchits" enctype="multipart/form-data" method="post">
            <p>
            Titles file (with the extension ".txt", <a href="static/ex_titles.txt">example</a>) <input name="titles_file" type="file">
            </p><p>
            <input value="Submit" type="submit">
            <input value="Clear the form" type="reset">
        
        </form>
</p><p>
</p><h4> Notes </h4>
<ul>
    <li> 48 chits will be generated. If you want more, just reload the page.
	<li> Print in "Landscape" mode. </li>
	</li>
</ul>
        <hr>
            
</body></html>
