<html>
<head>
<title>Musical Bingo</title>

</head>
<body>

<h2> Musical Bingo</h2>

This game is similar to Bingo where each player has a chit with some 
numbers arranged
in rows and columns. The only difference here is that the number is replaced by 
a song. You need
a CD with N number of songs. Play them either in any MP3 player such as
Real Player in  random order. All the players who have the song currently being 
played, 
should "tick" it in their chit. There can be prizes for players who got all 
listed songs in 
each of the columns first time. Similarly, there will be a prize 
for the player who got
all the songs in the entire chit before others. Check 
<a href="static/ex_titles.txt">examples</a> for example chits. 

<p>

This web page will help you in creating a musical bingo game with your own 
list of songs. 

<h4> Quick Links </h4>
<a href="chitsform">Generate Bingo Chits</a>
&nbsp;&nbsp;
<a href="mlistform">Generate Master List</a>

<h4> Creating New Game </h4>
Check <a href="newgame">here</a> for step-by-step instructions to
create your own game.

<br>

</body>
</html>
