<html><head><title>Generate Master List</title></head><body>
        <h1> Generate Master List </h1>
        <hr>
        <form action="genmlist" enctype="multipart/form-data" method="post">
            <p>
            Titles file (with the extension ".txt", <a href="static/ex_titles.txt">example</a>) <input name="titles_file" type="file">
			<br>
			<br>
            <input value="Submit" type="submit">
            <input value="Clear the form" type="reset">
        
</p><h4> Notes </h4>
<ul>
	<li> Entries are sorted before generating table. </li>
</ul>

        <hr>
            
</form></body></html>
