<html><head><title>Creating new game</title></head><body>
        <h1> Creating new game </h1>

	<ul>
		<li> Prepare a CD with the list of songs you want to play. Preferably in MP3 format. 
		You may consider normalizing the MP3 songs so that all songs have similar volume
		levels.
		</li>
		<li> Prepare a text file like titles.txt with this list of songs. 
		Each line should have one title. 
		Make sure
			titles are not too long. Otherwise, they wrap around in chits. 
            The file should have the extension ".txt". Click here for 
			<a href="static/ex_titles.txt">example</a> file. 
			You may also make 
			a copy of this file, name it like titles.m3u and 
		place it on the CD. This will be useful in playing the songs on computer. 
			
			</li>
		<li> Upload titles.txt here - <a href="chitsform:">Generate Bingo Chits</a> - to 
		get chits. Follow the instructions on this page and print the chits. 
		</li>
		<li> There will be 3 chits per page. Cut them into individual chits. If you
		have lot of pages, you may consider going to a place like Kinkos to get them
		cut.
		</li>
		<li> Now, play the songs in random order. You can use any MP3 player for
		this purpose like a DVD player, Real Player, or Windows Media Player. If you 
		are playing on a computer, you can play the m3u file created above which will be
		recognized by most players as a playlist. Don't forget to select random play 
		option. </li>
		<li> You can get a master list here - <a href="genmlist">Generate Master List</a>.
		This list can be used to keep track of songs already played.
		</li>
		<li> Give one chit to each player, play the songs, and enjoy! </li>



	</ul>
    
</body></html>
